
body {
  background-color: grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.imgur.com/9NM2rir.png");
  background-attachment:fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow: auto;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
}

#title {
  text-align: center;
}

NavLink {
}

.quote {
  margin: 20px;
  padding: 20px;
  background-color: #50AEEC;
  border: 5px;
  border-radius: 40px;
}

#smoothBorder {
  padding: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 00px 15px white;
  border-radius: 35px;
  opacity: 0.9;
}

#inputBox {
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 00px 15px;
  text-align: center;
  opacity: 0.85;
  background-color: white;
}

#maxheight {
  height: 80vh;
  background-color: white;
}
